sudo: required
services:
  - docker

before_install:
  - docker build -t jieqiong/docker-react -f Dockerfile .

# script:
#   - docker run jieqiong/docker-react npm run test -- --coverage

deploy:
  provider: elasticbeanstalk
  # DockerReact-env.pxy5a3apj3.us-east-2.elasticbeanstalk.com
  region: "us-east-2"
  app: "docker-react"
  env: "DockerReact-env"
  # bucket is the hard drive to hold the files
  bucket_name: "elasticbeanstalk-us-east-2-172278788129"
  bucket_path: "docker-react"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key:
    secure: "$AWS_SECRETE_KEY"
